*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

@font-face {
    font-family: Orbitron-M;
    src: url(fonts/Orbitron-Medium.ttf);
}

body{
    background: url("background/Minato, Japan.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: Orbitron-M,sans-serif;
}

canvas{
    width: 850px;
    height: 600px;
    padding: 6px;
    border: 8px double rgba(255, 255, 255, 0.5);
}
.title{
    display: flex;
    justify-content: center;
}
.title > h1{
    background: rgba(0, 0, 0, 0.35);
    display: inline-block;
    margin: 8px auto 15px;
    font-family: Orbitron-M,sans-serif;
    padding: 3px 25px 5px;
    color: rgb(0, 255, 0);
    text-shadow: 3px 2px 3px black;
    letter-spacing: 4px;
    border: 2px solid rgba(0, 255, 0, 0.5); border-radius: 10px;
    box-shadow: 0 0 10px black,
    0 0 20px rgba(0, 255, 0, 0.5);
    font-size: 25px;
}.title > h1:hover{
     text-shadow: 3px 2px 10px lime;
     cursor: pointer;
 }
#game-zone{
    position: relative;
    text-align: center ;
}

#board{
    box-shadow: 0 0 5px 3px #111111,
                0 0 25px 5px #3c3c3c;
    border-radius: 15px;
}

#gameOver{
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 40%;
    background: black;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
}
#gameOver h3{
    color: rgba(255, 0, 0, 0.9);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px red;
}
#instructor{
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 45%;
    background: black;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
}

#gameOver>#reset{
    margin: 15px 10px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0 0 3px white; letter-spacing: 2px;
    border-radius:5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid;
    font-family: Orbitron-M,sans-serif;
}
#gameOver>#reset:hover{
    background: #6e6e6e;
    color: white;
}
#gameOver>#reset:active{
    text-shadow: 0 0 10px;
    border: 1px solid black;
    background: white;
    color: black;
}

#rank{
    position: absolute;

    left: 5%;
    top: 10%;
    background: rgba(0, 0, 0, 0.5);
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
}
#rank>h3{
    color: cyan;
    text-shadow: 0 0 5px lime;
}
#rank>ol{
    border: 2px solid #9b9b9b; border-radius: 3px;
    margin-top: 10px;
    padding:10px 5px 10px 66px;
    text-align: start;
    line-height: 25px;
    list-style: upper-roman outside;

}
.menu{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}
.buttons{
    margin-right: 30%;
    text-align: center;

}
#speed-toggle{
    margin: 5px 0 0;   padding: 5px;
    font: inherit; font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background: linear-gradient(90deg,#232526,#414345);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}
#speed-toggle:hover{
    text-shadow: 0 0 5px,
    0 0 10px;
}
.gameSpeed{
    visibility: hidden;
}
.gameSpeed button{
    margin: 8px 6px 3px 0;
    padding: 5px 8px;
    background: black;
    color: white;
    border-radius: 5px;
    border: 3px solid black;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: Orbitron-M,sans-serif;
}
.gameSpeed button:hover{
    text-shadow: 0 0 5px,
    0 0 10px;
}
.gameSpeed button:active{
    border: 1px solid black;
    outline: 2px solid ;
 }
.gameSpeed #slow{
    color: rgba(0, 255, 0, 0.8);
}
.gameSpeed #normal{
    color: yellow;
}
.gameSpeed #fast{
    color: red;
}

.mode{
    margin-left: 30%;
    text-align: center;
}
#mode-toggle{
    font: inherit;
    padding: 5px;
    margin: 5px 0 0;
    color: white;
}
.modes{
    visibility: hidden;
}
.mode button{
    margin: 8px 3px 3px 0;
    padding: 5px 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(67, 67, 67, 0.7));
    border-radius: 5px;
    border: 3px solid black;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: Orbitron-M,sans-serif;

}
.mode button:hover{
    text-shadow: 0 0 5px,
    0 0 10px;
}
.mode button:active{
    outline: 2px solid;
}
.mode #classic{
    color: white;
}
.mode #infinity{
    color: cyan;
}
.mode #portal{
    color: #c800ff;
}

#score, #highScore{
    display: inline-block;
    padding: 0 6px;
    color: lime;
}

.copyright{
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 15px; letter-spacing: 1px;
}
.unsupport{
    display: none;
}
.unsupport>h1{

}


@media screen and (max-width: 1600px) {
    body {
        background:url("background/Minato, Japan.jpg") no-repeat center;

    }
    canvas{
        width: 730px;
        height: 450px;
    }
    #rank{

        left: 2%;
        width: 150px;
        font-size: 15px ;
    }
    #rank>ol{
        padding-left:30px ;
    }
}

@media screen and (max-width: 1000px) {

    canvas{
        width: 550px;
        height: 450px;
    }

    #rank{
        left: 1%;
        width: 100px;
        font-size: 15px ;
    }
}


@media screen and (max-width: 800px) {

    canvas{
        width: 0;
        height: 0;
    }

    #game-zone{
        display: none;
    }
    .buttons{
        display: none;
    }
    .mode{
        display: none;
    }
    .unsupport{
        display: block;
        background: black; border-radius: 5px;
        margin:100px auto;
        padding: 30px 15px;
        width: 90%;
    }
}
