*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

@font-face {
    font-family: Orbitron-M;
    src: url(fonts/Orbitron-Medium.ttf);
}

body{
    background: url("background/Minato, Japan.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: Orbitron-M,sans-serif;
}

canvas{
    width: 800px;
    height: 600px;
    padding: 5px;
    border: 8px double rgba(255, 255, 255, 0.5);
}
.title{
    display: flex;
    justify-content: center;
}
.title > h1{
    display: inline-block;
    margin: 8px auto 15px;
    font-family: Orbitron-M,sans-serif;
    padding: 4px 15px 6px;
    color: rgba(0, 255, 0, 0.65);
    text-shadow: 0 0 10px lime;
    letter-spacing: 2px;
    border: 1px solid lime; border-radius: 5px;
    box-shadow: 0 0 3px 2px lime,
    0 0 10px rgba(0, 255, 0, 0.8),
    0 0 30px rgba(0, 255, 0, 0.5);
}
#game-zone{
    position: relative;
    text-align: center ;
}

#board{
    box-shadow: 0 0 5px 3px #232323,
                0 0 25px 1px #8e8e8e;
    border-radius: 5px;
}

#gameOver{
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 40%;
    background: black;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
}
#gameOver h3{
    color: rgba(255, 0, 0, 0.9);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px red;
}
#instructor{
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 45%;
    background: black;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
}

#gameOver>#reset{
    margin: 15px 10px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0 0 3px white; letter-spacing: 2px;
    border-radius:5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid;
    font-family: Orbitron-M,sans-serif;
}
#gameOver>#reset:hover{
    background: #6e6e6e;
    color: white;
}
#gameOver>#reset:active{
    text-shadow: 0 0 10px;
    border: 1px solid black;
    background: white;
    color: black;
}

#rank{
    position: absolute;

    left: 5%;
    top: 10%;
    background: rgba(0, 0, 0, 0.5);
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
}
#rank>h3{
    color: cyan;
    text-shadow: 0 0 5px lime;
}
#rank>ol{
    border: 2px solid #9b9b9b; border-radius: 3px;
    margin-top: 10px;
    padding:10px 5px 10px 66px;
    text-align: start;
    line-height: 25px;
    list-style: upper-roman outside;

}

.buttons{
    text-align: center;
}
.buttons>.gameSpeed button{
    margin: 15px 6px 3px 0;
    padding: 5px 8px;
    background: black;
    color: lime;
    border-radius: 5px;
    border: 3px solid black;
    text-shadow: 0 0 20px,
    0 0 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: Orbitron-M,sans-serif;
    box-shadow: 0 0 2px 1px;
}
.buttons>.gameSpeed button:hover{
    background: rgba(68, 68, 68, 0.51);
}
.buttons>.gameSpeed button:active{
    border: 3px solid;
    outline: 1px solid ;
 }
.buttons>div #normal{
    color: yellow;
}
.buttons>div #fast{
    color: red;
}

#score, #highScore{
    display: inline-block;
    padding: 0 6px;
    color: lime;
}

.unsupport{
    display: none;
}
.unsupport>h1{

}


@media screen and (max-width: 1600px) {
    body {
        background:url("background/Minato, Japan.jpg") no-repeat center;

    }
    canvas{
        width: 650px;
        height: 450px;
    }
    #rank{
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    canvas{
        width: 550px;
        height: 350px;
    }
}

@media screen and (max-width: 820px) {

}

@media screen and (max-width: 665px) {

    canvas{
        width: 0;
        height: 0;
    }

    #game-zone{
        display: none;
    }
    .buttons{
        display: none;
    }
    .unsupport{
        display: block;
        background: black; border-radius: 5px;
        margin:100px auto;
        padding: 30px 15px;
        width: 90%;
    }
}
